.main {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.btn-group { 
	top: 60px 
}

.input-group { 
	top: 60px 
}

.searchTerm {
	width: 25%;
	display: inline !important;
}

.dropdownOptions {
	width: 25%;
	display: inline !important;
}

#chart {
	margin-left: 100px;
}