.main {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.btn-group { 
	top: 60px 
}

.input-group { 
	top: 60px 
}

.searchTerm {
	width: 25%;
	display: inline !important;
}

.dropdownOptions {
	display: inline !important;
}

#searchDropdown {
	width: 25%;
}

#chart {
	margin-left: 100px;

}

.bar {
	fill: #551A8B;
}

.bar:hover {
	fill: #508b1a;
}

.bartext {
	font: 10px sans-serif;
	transform: rotate(90);
}

.axis {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}